body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    max-width: 1440px;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.socials {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.header-logo, .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: auto;
}

.darc {
    color: #2e2f42;
}

.light {
    color: #f4f4fd;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.menu-text:hover, .menu-text:focus {
    color: #404bbf;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socials-list {
    display: flex;
    gap: 40px;
}

.socials-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: right;
}

.socials-info:hover, .socials-info:focus {
    color: #404bbf;
}

.hero-wrap {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
}

.main-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
}

.button-text {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
    border: none;
    display: inline-block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 16px auto 0;
    transition: background-color 0.3s ease;
}

.button-text:hover, .button-text:focus-visible {
    background-color: #404BBF;
}

.button-text:focus {
    outline: none;
}

.button-text:active {
    background-color: #4D5AE5;
}

.service-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.service-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.service-wrap {
    flex: 1 1 calc((100% - 3 * 24px) / 4);
    max-width: calc((100% - 3 * 24px) / 4);
    box-sizing: border-box;
}

.service-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.service-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.third-section {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
    text-transform: capitalize;
    text-align: center;
}

.team-wrap {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.team-list {
    flex: 1 1 calc((100% - 3 * 24px) / 4);
    max-width: calc((100% - 3 * 24px) / 4);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
}

.team-info {
    padding: 32px 0;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-align: center;
}

.portfolio-section {
    padding: 120px 0;
}

.portfolio-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 48px; /* Add space between the two rows if needed */
}

.portfolio-inner {
    flex: 1 1 calc((100% - 48px) / 3);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 4px;
}


.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    text-align: center;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0 auto;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}
